<html lang="en">
    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/nav') %>

        <!-- 把 form 資料送出，有兩種方式： -->
        <!-- 1. ajax post
        2. form 本身內建的 post (這裡用這個)
            - action: form 要送到哪裡的 url
            - input attribute 一定要寫 name，server 才能讀取使用者填寫的內容 -->
        <div class="create-blog content">
            <form action="/blogs" method="POST">
                <label for="title">Blog title:</label>
                <input type="text" id="title" name="title" required />
                <label for="snippet">Blog snippet:</label>
                <input type="text" id="snippet" name="snippet" required />
                <label for="body">Blog body:</label>
                <textarea id="body" name="body" required></textarea>
                <button>Submit</button>
            </form>
        </div>

        <%- include('../partials/footer') %>
    </body>
</html>
