<html lang="en">
    <%- include('./partials/head') %>

    <body>
        <%- include('./partials/nav') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>This is all about Pamcy's life</p>
        </div>

        <%- include('./partials/footer') %>
    </body>
</html>
